<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/insertAddData" method="post">
      <table>
        <tr>
          <td>Name:</td>
          <td>
            <input type="text" placeholder="enter your name" name="userName" />
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <input
              type="password"
              placeholder="enter your password"
              name="password"
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">add Data</button></td>
        </tr>
      </table>
    </form>

    <!-- <table border="">
      <tr>
        <td>name</td>
        <td>password</td>
      </tr>

      <% userData.map((data)=>{ %>
      <tr>
        <td><%= data.userName %></td>
        <td><%= data.password %></td>
      </tr>
      <% }) %>
    </table> -->
  </body>
</html>
