<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insertAddData" method="post">
       <label for="">Book Name :-</label> <input type="text" name="bookName"><br><br>
        <label for="">Price :-</label><input type="number" name="price"><br><br>
       <label for="">Quntity :-</label> <input type="number" name="quntity"><br><br>
       <button>Submite</button>
    </form>

    <table border="">
        <tr>
            <th>BookName</th>
            <th>Price</th>
            <th>Quntity</th>
        </tr>
        <% userInfo.map((data) => { %>
            <tr>
            <td><%= data.bookName %> </td>
            <td><%= data.price %> </td>
            <td><%= data.quntity %></td>
            </tr>
      <%  }) %>
  
    </table>

</body>
</html>